DATABASE_URL=postgresql+asyncpg://nibal_user:nibal_pass_local@localhost:5433/nibal_db
ADMIN_TOKEN=cambiame_por_un_token_largo_y_random
STORAGE_PUBLIC_URL=http://localhost:8001/assets
STORAGE_LOCAL_PATH=assets
APP_ENV=local
APP_BASE_URL=http://localhost:5173
QR_FILL_COLOR=black
QR_BACK_COLOR=white
